@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px, 0
}

img {
    width: 100%;
}

/* navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
}

.navbar.top {
    background: transparent;
}

.navbar a:hover {
    border-bottom:#fccc06 2px solid;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar ul {
    display: flex;
}

.logo {
    width: 120px;
    height: 80px;
}
/* Header */

.hero {
    background-color: rgb(71, 71, 71);
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero * {
    z-index: 10;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #fccc06;
}

.footer .social > * {
    margin-right: 5px;
}
main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0,0,0,0.6);
}

table, th, td {
    padding-top: 20px;
    width: 200px;
    table-layout: fixed;
    word-wrap: break-word;
    border-bottom: 1px solid white;
    align-items: left;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

table {
    border-collapse: collapse;
    line-height: 1.8em;
}

button { 
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fccc06;
    color: black;
    border: none;
    border-radius: 5%; 
}

button:hover {
    opacity: 0.7;
}

/* text colors */

.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

/* button */

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: black;
  background-color: #fccc06;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary, .bg-primary {
  background: #fccc06;
  color: #fff;
}
.btn-secondary, .bg-secondary {
  background: #0284d0;
  color: #fff;
}
.btn-dark, .bg-dark {
  background: #333;
  color: #fff;
}
.btn-primary, .bg-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* flex */

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 30%;
}

.flex-items > div {
  padding: 20px;
}

/* flex columns */

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/* Section header */

.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-header {
  padding: 20px 20px 40px;
}

/* flex grid */

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;

}


/* Mobile */

@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 10px;
    }

    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
        font-size: 11px;
    }
    
    .flex-items { 
        flex-direction: column;
    }

    .flex-columns .column, .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }
    h1.content{
        font-size: 5px;
    }
}